* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;;
    background-color: #EFF5F5;
}


#container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 417px;
    width: 416px;
    border: 3px solid black;
    flex-wrap: wrap;
    margin-left: 20px;
    background-color: white;
}

.squares {
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 26px;
}

.squares:hover{
    background-color: black;
}

.squares-black {
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 26px;
    background-color: red;
    transition: 0.2s;
}

.squares-white {
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 26px;
    background-color: white;
    transition: 0.2s;
}


#resetbutton {
    padding: 10px;
    width: 150px;
    font-weight: bold;
    background-color: #D6E4E5;
    color: #EB6440;
    border-radius: 25px;
}

#rainbow {
    padding: 10px;
    width: 150px;
    font-weight: bolder;
    background-color: #D6E4E5;
    color: black;
    border-radius: 25px;
    -webkit-animation: rainbow 5s infinite; 
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
    20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standard Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}


#grayscale {
    padding: 10px;
    width: 150px;
    font-weight: bold;
    background-color: #D6E4E5;
    color: black;
    border-radius: 25px;
}


#container {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#actions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    border: 3px solid black;
    height: 450px;
    width: 225px;
    background-color: #497174;
    color: #EFF5F5;
    border-radius: 25px;
}

.title {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


.information {
    margin: 5px;
    text-align: center;
    font-weight: bold;
    text-shadow:  0 1px 0 #ccc,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


#footer {
    display: inline;
    position:absolute;
    bottom:0;
    width:100%;
    height: 25px;
    border-top: 1px solid black;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
 }

 